# VSCode folder
.vscode/
# PyCharm folder
.idea/
__pycache__/Measurements.cpython-311-pytest-7.4.0.pyc
# c compilation outputs
*.o
*.so
*.a
# executables
TCP_Receiver
TCP_Sender
RUDP_Receiver
RUDP_Sender
rudp_receiver_test
rudp_sender_test